body {
  background: #cafcf9;
}

h1,
h2,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 0px 0px;
  padding: 0px 0px;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

form input {
  border: 2px solid black;
  font-family: "Roboto Slab", serif;
  line-height: 20px;
  font-size: 14px;
  margin: 10px 0px 0px;
  padding: 10px 10px;
  font-weight: bold;
}

.row,
.card,
.card-body,
.card-img-top,
.card-text,
.cat-results,
.categories,
.forecast-day,
.forecast-emoji,
.reduce-padding {
  margin: 0px 0px;
  padding: 0px 0px;
}

.row,
.card-body {
  font-size: 12px;
  text-align: center;
}

.forecast-day,
.forecast-emoji,
.converter,
.subtext,
.card-text {
  font-family: "Roboto Slab", serif;
}

.forecast-day,
.converter,
.subtext {
  font-size: 12px;
}

.reduce-padding,
.col-2 {
  text-align: center;
}

.col-1,
.col-2,
.col-3 {
  padding: 0px 5px;
}

.card {
  box-shadow: 0px 0px 4px black;
  border: 1px solid #000;
  text-align: center;
  background: #fff;
  font-size: 12px;
  color: #000;
  width: 100%;
}

.card-text {
  padding-bottom: 10px;
}

.categories,
.cat-results {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 14px;
}

.cat-results {
  font-weight: normal;
  text-align: left;
}

.container {
  box-shadow: 0px 0px 15px rgb(36, 34, 34);
  border: 3px solid rgb(11, 11, 43);
  padding: 10px 20px 20px 20px;
  background: #f7edb4;
  border-radius: 15px;
  margin: 0px auto;
  max-width: 550px;
  margin-top: 15px;
  font-size: 12px;
  width: 100%;
}

.converter {
  padding: 5px 0px;
  margin: 0px auto;
  margin-top: 2px;
  height: 100%;
  width: 100%;
}

.forecast-emoji {
  text-align: center;
  padding-top: 5px;
  font-size: 40px;
}

.converter,
#entry-line,
#submit-button,
#current-location-button {
  box-shadow: 0px 0px 4px black;
}

#cur-day-time,
#cur-temp,
#cur-emoji,
#cur-emoji-desc {
  margin: 0px 0px;
  padding: 0px 0px;
}

#cur-temp,
#cur-emoji {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

#cur-emoji {
  font-size: 55px;
}

#current-location-button,
#submit-button,
#entry-line {
  vertical-align: middle;
}

#cur-day-time,
#cur-emoji-desc {
  font-family: monospace;
  font-size: 12px;
}

#cur-emoji-desc {
  margin-top: 12px;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}

#cur-day-time {
  margin-left: 10px;
  text-align: left;
}

#entry-line {
  background: #e3e2fa;
  font-style: italic;
  margin-right: 5px;
  padding: 5px 10px;
  width: 62%;
}

#submit-button,
#current-location-button {
  transition: all 150ms ease;
  font-family: "Roboto Slab";
  font-weight: normal;
  background: #fff;
  font-size: 15px;
}

#submit-button {
  padding: 5px 10px;
}

#current-location-button {
  border-radius: 50px;
  margin-right: 5px;
  max-height: 15px;
  width: 5%;
}

#submit-button:hover,
#current-location-button:hover {
  background: #ae9ac0;
}

#forecast-temp-min {
  font-weight: normal;
  font-size: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
}

#forecast-temp-max {
  font-size: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
}

#forecast-desc {
  font-weight: normal;
  font-size: 10px;
}

#forecast-emoji {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin: 0px 0px;
  padding: 0px 0px;
}
